
<div class="container" id="top" >
  <div class="row-fluid">

<h5>Miguel Barousse Ordóñez</h5>
<p>Estudió ingeniería mecatrónica en la Universidad Nacional Autónoma de México. Participó en el proyecto de innovación tecnológica ME310 de la Universidad de Stanford para General Motors y en el diseño de un automóvil eléctrico conceptual para Audi en el marco del proyecto Global Drive en colaboración con la Universidad Técnica de Múnich. Especializado en programación y usuario de GNU/Linux desde el 2001. En al ámbito de activismo político, participó en la Caravana al Sur del Movimiento por la Paz con Justicia y Dignidad, mientras que desde el colectivo Archipiélago Político participó en campañas de concientización en contra del Acuerdo Comercial Anti-Falsificación (ACTA).</p>
<br>

<h5>Tomás Álvarez Melis</h5>
<p>Ingeniero mecatrónico de la UNAM, se encuentra realizando una maestría en diseño de producto en la universidad de Carnegie Mellon en Pittsburgh, EEUU. 
Durante su licenciatura fue parte de un proyecto de innovación en participación con la Universidad de Stanford y patrocinado por Volkswagen.
Co-fundador del proyecto <a href="http://www.ilumexico.com.mx>">Iluméxico</a>.
No tiene afiliación política y fue secretario de casilla en las pasadas elecciones del 2 de julio.<br>
¿Cuál es el siguiente sector que será sacudido por las tecnologías de la información?</p>
<br>
<br>
Contáctanos en info(at)d20.org.mx



      </div>
	

</div>



