<p>Hola <%= @resource.email %>!</p>

<p>Para cambiar la contrase침치 de esta cuenta haz click en la siguiente liga:</p>

<p><%= link_to 'Cambiar mi contrasena', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Si no solicitaste esto, porfavor ignora este email.</p>
<p>Tu contrase침a no ser치 cambiada hasta que accedas a la liga y crees una nueva.</p>
